
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* dim background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
 
  background: #060a14;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  animation: popup 0.3s ease-out;
}

@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.pref-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  margin: 20px;
}

input {
  padding: 8px;
  font-size: 14px;
  border: 1px;
  border-radius: 10px;
  background-color: #131a2f;
}

/*Drop down menu inside Dept component*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 100px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content div {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}

.dropdown-content div:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

.result {
  margin-top: 10px;
}

/*Button in the dept management tab*/

.deptlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px; 
  margin-bottom: 8px;
}

.Button-container {
  display: flex;
  align-content: row;
  
}

.colomn-buttons {
  background-color: #131A2E;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

/*Light mode*/

:root[data-theme='light'] .modal {
  background: #ffffff;
}
:root[data-theme='light'] input {
  background: #e7e7e7;
}
:root[data-theme='light'] .colomn-buttons {
  background: #e7e7e7;
}