.record-header {
    display: flex;
    align-content: row;
    cursor: default;
    
}

.exit-record {
    margin-left: 250px;
    margin-top: 37px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #060A14;
    transition: border-color 0.25s;
    cursor: pointer;
    font-size: larger;
   
}

.record-window {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    

    background-color: #131A2E;
    width: 576px;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 20px;
    margin-top: 20px;
    z-index: 1000;
  
    white-space: normal;
    word-break: break-word;
    overflow-wrap: anywhere;
  }
  
  .record-window * {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: anywhere;
  }

.record-list {
  background-color: #060A14;
  border-radius: 20px;
  padding: 10px;
  width: 100%; /* or a fixed width if you want a narrower list */
  max-width: 500px;
  margin-right: 25px;
  
}
  
/*Light mode*/

:root[data-theme='light'] .exit-record {
  background-color: #ffffff;
}

:root[data-theme='light'] .record-window {
  background-color: #e7e7e7;
}

:root[data-theme='light'] .record-list {
  background-color: #ffffff;
}