.background {
    background-color: aliceblue;
    width: 100px;
    height: 100px;
}

.bar {
      position: relative;
      width: 500px;
      height: 30px;
      background-color: #131a2f;
      border-radius: 15px;
      overflow: hidden;
      position: relative;
      z-index: 1;
    }

    

    .deptfill {
      position: absolute;
      border-radius: 15px;
      height: 100%;
      background-color: #747474; 
      width: 0;
      transition: width 0.5s ease;
      z-index: 2;
    }
    
    .fill {
      position: absolute;
      border-radius: 15px;
      
      height: 100%;
      background-color: #26c4f4;
      width: 0;
      transition: width 0.5s ease;
      z-index: 3;
    }
    .label {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 0;
      line-height: 30px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      z-index: 4;
    }

