.background {
    background-color: aliceblue;
    width: 100px;
    height: 100px;
}

.bar {
  width: 500px;
  height: 30px;
  background-color: #131a2f;
  border-radius: 15px;
  overflow: visible; /* Change this to allow the tooltip to overflow */
  position: relative; /* Ensure the tooltip is positioned relative to the bar */
  z-index: 1;
  margin-bottom: 35px;
}

.fill {
  position: relative;
  border-radius: 15px;
  display: inline-block;
  cursor: default;
  height: 100%;
  background-color: #26c4f4;
  width: 0;
  transition: width 0.5s ease;
  z-index: 3;
}


    .deptfill {
      position: absolute;
      
      border-radius: 15px;
      height: 100%;
      background-color: #747474; 
      width: 0;
      transition: width 0.5s ease;
      z-index: 2;
    }
   
    .label {
      position: absolute;
      
      margin-left: 240px;
      top: 0;
      line-height: 30px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      z-index: 4;
      cursor: default;
    }

    .display {
      display: flex;
      align-content: row;
      margin-bottom: 30px;
    }
    .progress-info {
      display: inline-block;       
      height: 60px;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid transparent;
      background-color: #131A2E;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 30px;margin: 10px;
      margin-top: 20px;
      transition: border-color 0.25s;
      cursor: default;
    }
    .progress-info:hover {
      border: 1px #ffffff solid;
    }
    .saved-display {
      position: relative;
      margin-bottom: -15px;
    }

    .saved-value-display {
      font-size: 45px;
      margin-top: 3px;
    }
  
/*light mode*/

:root[data-theme='light'] .bar {
  background-color: #e7e7e7;
}
:root[data-theme='light'] .label {
  color: rgb(0, 0, 0);
}
:root[data-theme='light'] .progress-info {
  background-color: #e7e7e7;
  
}
:root[data-theme='light'] .progress-info:hover {
  border: 1px #000000 solid;
}