

.buton-wrap {
    padding-top: 1px;
    margin-left:340px;
    
}

.goal-button {
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #131A2E;
    transition: border-color 0.25s;
    cursor: pointer;
    font-size: larger;
}
.goal-button:hover {
    border: 1px #fff solid;
  }

/*Theme Section*/

.theme-overlay {
   
    position: absolute;   
    background-color: #131A2E;
    padding: 15px;
    padding-right: 20px;
    border-radius: 30px;
    z-index: 1000;
    right: 55px;
    

}
.color {
    background-color: aqua;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    cursor: pointer;
    border: 1px #131A2E solid;
    transition: border-color 0.25s ease;
    transition: height 0.25s ease;
    transition: width 0.25s ease;
    margin: 2px;
}
.color:hover {
    border: 2px #fff solid;
    
    
}

/*color displayed in the buttons section*/

/*Dark Mode*/
.color-dark-blue {background-image: linear-gradient(to top left, #060A14 50%, #26C4F4 50%);}
.color-dark-red {background-image: linear-gradient(to top left, #060A14 50%, #f42626 50%);}
.color-dark-yellow {background-image: linear-gradient(to top left, #060a14 50%, #d5f426 50%);}

/*Light Mode*/

.color-light-blue {background-image: linear-gradient(to top left, #DDE4F0 50%, #26C4F4 50%);}
.color-light-red {background-image: linear-gradient(to top left, #DDE4F0 50%, #f42626 50%);}
.color-light-yellow {background-image: linear-gradient(to top left, #DDE4F0  50%, #d5f426 50%);}
/*color displayed in the buttons section*/